@page "/costssumbyday"
@using home_blazor.Data
@using home_blazor.Data.Controllers
@inject CostsService CostsService

<h3>Statistic of costs for input day</h3>
<br />
<h4>
    Enter date: <input @bind-value="@date" />
    <button @onclick="GetSumByDate" style="width: 300px">Calculate sum</button>
    <br />
    <br />
    Sum costs by date: @result
</h4>

@code
{
    public string date;
    public string result;

    private void GetSumByDate()
    {
        this.result = CostsService.GetSumForDay(date);
    }
}
