@page "/"

<h1>Hello. It's your home assistant.</h1>
<h2>
    You can:<br />
    1. Get list of costs or incomes<br />
    2. Add new cost or income<br />
    3. Delete list of incomes or costs<br />
    4. Get sum of incomes or costs by day<br />
    5. Get sum of incomes or costs by month
</h2>